@require '~vuetify/src/stylus/settings/_colors';

$shades = {
  black:        #1c2d4d,
  white:        #fff,
  transparent:  transparent
}

$color-accent = #2691fd;
$color-primary = #1c2d4d;
$color-secondary = #46546e;

