@require '~vuetify/src/stylus/settings/_variables.styl'

$color-accent = #2691FD
$color-primary = #1C2D4D
$color-secondary = #46546E

:root {
  --color-accent: $color-accent;
  --color-primary: $color-primary;
  --color-secondary: $color-secondary;
}
