$color-accent = #2691FD;
$color-primary = #1C2D4D;
$color-secondary = #46546E;

$body-font-family = 'Source Sans Pro', sans-serif;
$heading-font-family = 'Patua One', cursive;

@require '~vuetify/src/stylus/settings/_variables.styl';
