.user-options__nav {
  border-bottom: 1px solid #f1f2f4;
  width: 100%;
}

.user-options__nav-link {
  color: $color-accent;
  font-size: 18px;
  display: inline-block;
  padding-bottom: 25px;
  margin-right: 40px;
}

.user-options__nav-link--active {
  font-weight: bold;
  border-bottom: 4px solid $color-accent;
}
