.header {
  >>> .v-toolbar {
    border-bottom: 1px solid #f1f2f4;
    padding: $spacer 0;
  }

  >>> .v-toolbar__content {
    justify-content: center;
  }
}

.header--no-delimiter {
  >>> .v-toolbar {
    border-bottom: none;
  }
}

.header__container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.header__logo {
  display: inline-flex;
}

.header__nav {
  align-items: center;
}

.header__link {
  color: $color-accent;
  font-size: $headings.body-2.size;
  text-decoration none;
  margin-left: $spacer * 2 !important;

  &:hover,
  &:active {
    color: darken($color-accent, 30%);
  }
}
