.e-button {
  background-image: linear-gradient(to right, $color-accent, #00c6ff);
  border-radius: 4px;
  color: #fff;
  text-transform: none;
}

.e-button--outline:not(.v-btn--icon):not(.v-btn--flat) {
  background-color: transparent;
  background-image: none;
  border: 2px solid $color-accent;
  color: $color-accent;
}
