.e-button {
  min-height: 48px;
}

.e-button--primary:not(.v-btn--icon):not(.v-btn--flat) {
  color: $shades.white;
  font-weight: 700;
  background-image: linear-gradient(to right, $color-accent, #00c6ff);
}

.e-button--outline:not(.v-btn--icon):not(.v-btn--flat) {
  background-color: transparent;
  background-image: none;
  border: 2px solid $color-accent;
  color: $color-accent;

  &:hover,
  &:active {
    color: $shades.white;
    background-color: $color-accent;
    border-color: $color-accent;
  }
}
