.progress-card {
  align-content: end;
  background-color: white;
  border-radius: 8px;
  display: grid;
  grid-template: 'img txt1 txt2' 1fr 'img prog prog' 1fr / 4fr 4fr 4fr;
  height: 274px;
}

.progress-card__img {
  grid-area: img;
}

.progress-card__bar {
  align-self: end;
  grid-area: prog;
  margin-bottom: 47px;
  margin-right: 32px;
}

.progress-card__installments {
  align-self: end;
}

.progress-card__installments--guaranteed {
  grid-area: txt1;
}

.progress-card__installments--pending {
  grid-area: txt2;
}
