.progress-background {
  background-color: rgba(0,0,0,0.1);
  border-radius: 21px;
  display: flex;
  height: 40px;
  margin-bottom: 16px;
  margin-top: 16px;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  background-color: $color-accent;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
}

.installment {
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
}

.installment--paid {
  background-color: $color-primary;
}

.legend {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.legend__item {
  position: relative;
  padding-left: 32px;
  padding-right: 32px;

  &::before {
    border-radius: 50%;
    content: '';
    display: block;
    height: 16px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    }
}

.legend__item--paid {
  &::before {
    background-color: $color-primary;
    }
  }

.legend__item--received {
  &::before {
    background-color: $color-accent;
    }
  }

.legend__item--missing {
  &::before {
    background-color: $color-gray;
    }
  }
