.progress-card {
  align-content: end;
  background-color: white;
  border-radius: 8px;
  display: grid;
  grid-template: 'img txt1 txt2' 1fr 'img prog prog' 1fr / 4fr 4fr 4fr;
  height: 274px;
}

.progress-card__img {
  align-self: end;
  grid-area: img;
}

.progress-card__bar {
  align-self: end;
  grid-area: prog;
  margin-bottom: 47px;
  margin-right: 32px;
}

.progress-card__installments {
  align-self: end;
  display: flex;
  align-items: center;
}

.progress-card__installments--guaranteed {
  grid-area: txt1;
  color: $color-accent;
}

.progress-card__installments--pending {
  grid-area: txt2;
  color: $color-gray;
}

.figure__figure {
  text-align: right;
  margin-right: 16px;
}

.figure__title {
  display: block;
  // grid-area: title;
  color: $color-primary;
  // font-weight: bold;
  // font-size: 18px;
  // align-self: center;
}

.figure__details {
  grid-area: details;
  line-height: 1.5;
  font-size: 16px;
  align-self: center;
  }
