.progress-background {
  background-color: rgba(0,0,0,0.1);
  border-radius: 21px;
  display: flex;
  height: 40px;
  margin-bottom: 16px;
  margin-top: 16px;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  background-color: $color-accent;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
}

.installment {
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
}

.installment--paid {
  background-color: $color-primary;
}
