.progress-card {
  align-content: end;
  background-color: white;
  border-radius: 8px;
  display: grid;
  grid-template: 'txt1 txt2' 1fr 'prog prog' 1fr / 1fr 1fr;
  height: 274px;

  @media (min-width: $grid-breakpoints.lg) {
    grid-template: 'img txt1 txt2' 1fr 'img prog prog' 1fr / 4fr 4fr 4fr;
  }
}

.progress-card__img {
  align-self: end;
  grid-area: img;
  display: none;

  @media (min-width: $grid-breakpoints.lg) {
    display: block;
  }
}

.progress-card__bar {
  align-self: end;
  grid-area: prog;
  margin-bottom: 47px;
  margin-left: 32px;
  margin-right: 32px;

  @media (min-width: $grid-breakpoints.lg) {
    margin-left: 0;
  }
}

.progress-card__installments {
  align-self: end;
  display: grid;
  grid-template: 'figure title' 1fr 'figure details' 1fr / 1fr 5fr;
  grid-column-gap: 16px;
}

.progress-card__installments--guaranteed {
  grid-area: txt1;
  color: $color-accent;
}

.progress-card__installments--pending {
  grid-area: txt2;
  color: $color-gray;
}

.figure__figure {
  grid-area: figure;
  text-align: right;
  }

.figure__title {
  grid-area: title;
  color: $color-primary;
  font-weight: bold;
  font-size: 18px;
  align-self: center;
  }

.figure__details {
  grid-area: details;
  line-height: 1.5;
  font-size: 16px;
  align-self: center;
  }
